<div class="project">
    <h2><span>{{header}}</span></h2>
    <div class="project-body">
        <a href="#">
            <img alt="No-video-specified" class="pull-left" width="360px" src="{{imgSrc}}"></a>

        <h3>{{infoMsg}}</h3>
        <ul class="project-info-bar clearfix">
            <li><p>
                    POSITIONS: <span>{{positions}}</span>
                </p></li>
            <li><p>
                    CAST: <span>{{cast}}</span>
                </p></li>
            <li><p>
                    CREW: <span>{{crew}}</span>
                </p></li>
        </ul>
    </div>
</div>
