.carouselCont{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:100vh;
}


.fp{
    color: black;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    padding: 20px 0 60px 60px;
    margin: 0;
    background: url(content/images/stuff-ic.png) 0 20px no-repeat;
    line-height: 48px;
}

.carousel-caption h3{
	color:#fff !important;
	font-weight:500;
}